---
layout: default
---
<div class="row">
    <div class="col">
        <div class="row">
            <div class="col">
                {% include sections/about.html %}
            </div>
        </div>

        <div class="row">
            <div class="col">
                {% include sections/education.html %}
            </div>
        </div>

        <div class="row">
            <div class="col">
                {% include sections/award.html %}
            </div>
        </div>

        <div class="row">
            <div class="col">
                {% include sections/publications.html %}
            </div>
        </div>
    </div>


</div>
